.python-version
__pycache__/
*.egg-info/
*.py[co]
.idea/
.vscode/
dumps/
data.ms/
.DS_Store
.venv/
venv/
.env
*.local
*.log
*.sqlite3
.fleet
.ruff_cache
.coverage.*
.coverage
coverage.xml
/htmlcov
/.tox
/.tx
dist/
uv.lock
temp_doc/
